@page
@model IndexModel
@{
}
<h1>History</h1>

<a asp-page="../Index" asp-route-Month="@Model.Month" asp-route-Year="@Model.Year" asp-route-Dest="@Model.Destination" class="btn btn-success hidden-print">Back</a>

<table id="history" class="table table-hover">
    <thead>
        <tr>
            <th>
                รหัส/ID
            </th>
            <th>
                <label>เวลาที่ถึง</label>
            </th>
            <th>
                <label>ชนิด</label>
            </th>
            <th>
                <label>ชื่อท่าเรือ</label>
            </th>
          
            </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BoatHistories) 
{
        <tr>
            <td>
                @item.Id
            </td>

            <td>
                @string.Format("{0:dd/MM/yyyy HH:mm}", item.ArriveDateTime.AddHours(7))
            </td>
            <td>
                @item.Coordinate.CoordinateType.Name
            </td>
            <td>
                @item.Coordinate.Name
            </td>

           
        </tr>    
}
    </tbody>

</table>

<br/>
<button id="btnExport" onclick="javascript:xport.toCSV('history');" class="btn btn-default">Export to CSV</button>
<button id="btnExportPdf" onclick="javascript:exportTable.toPdf('history');" class="btn btn-default">Export to PDF</button>